*, ::after, ::before{
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color1:#fff;
    --color2:#f1e6e6;
    --color3:#9d8484;
    --color4:black;
   --color5: rgb(102, 96, 96);

}
img{
    transition: 0.5s ease-in-out;
}
img:hover{
    filter: grayscale(100%);
}
html, body{
    overflow-x: hidden;
    width: 100%;
}
header{

    height: 8vh;
    gap:20px;
    z-index: 20;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: var(--color2);
}
header div{
    display: flex;
    gap:30px;
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 2.4rem;
    cursor: pointer;
}
header div .bars{
    /* position: absolute;
    right: 40px;
    top: -150%; */
    display: none;
}
header div .remov{
   display: none;
   
}
header div i:hover{
    color:var(--color3);
    transition: .3s ease-in-out;
}

header ul{
    display: flex;
    justify-content: space-around;
    /* background-color: var(--color2); */
    padding: 20px;
    margin: 0;
    align-items: center;
    gap:60px;
 
    z-index: 1;
    position: fixed;
    opacity:0.9;
}
header ul li{
    z-index: 10;
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    z-index: 30;
    position: relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.2rem;
   
}
header ul li a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    left: 0;
  
    background-color: var(--color3);
}
header ul li a:hover::after{
    width: 100%;
    transition: .5s ease-in-out;
}
header ul li a:hover{
    color:var(--color3);
}
.name{
  
    font-family: "Parisienne", serif;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    left: 0;
    margin: 0;
    margin-left: 0;
    font-size: 1.6rem;
}


#first-section{
   background-image: url("./asset/background.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   width: 100%;
   background-position: center;
}
h1{
    font-family: "Parisienne", serif;
    font-weight: 600;
    padding-top:15%;
      text-transform: capitalize;
      font-size: 3.5rem;
      color:var(--color1);
      display: flex;
      text-align: center;
      
      justify-content: center;
      align-items: center;
      font-style: normal;    
}
h2{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    text-transform: capitalize;
 font-size: 2.5rem;
 color:var(--color1);

}
#second-section{
text-align: center;
position: relative;

}
h3{
      font-family: "Parkinsans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
      font-size: 2rem;
      padding: 30px 0;
      color:var(--color3);
    
}
.first-para{
    width: 60%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 30px;
    text-align: justify;
    display: flex;
    margin: 0 auto;
}
.reseaux{
width: 100%;

   
   
    flex-direction: column;
    gap:70px;
   top: 30%;
   display: inline-block;
    
    z-index: 2;
   position: sticky;
}
.reseaux i{
    cursor: pointer;
   font-size: 2rem;
  left: 20px;
padding: 30px;
transition:all 1s ease-in-out;
text-align: center;
position: sticky;
margin-left: 30px;
margin-top: 5px;
  z-index: 3;
  height: 20px;
border-radius: 50%;

width: 20px;

  display: flex;
}

.reseaux .faceb{
    color:#1877F2;
}
.reseaux .twit{
  color :  #1DA1F2 ;
}
.reseaux .inst{
  color:#E4405F  ;
}
.reseaux .what{
  color: #25D366  ;
}
.father{
    display: flex;
    flex-wrap: wrap;
    z-index: -2;
    gap:20px;
    justify-content: space-around;
}
.reseaux i:hover{

    background-color: var(--color4);
    justify-content: center;
    align-items: center;
    color:var(--color3);
}
.father div img{
    border-radius: 5px;
    z-index: -1;
    transition: 1s ease-in-out;
    box-shadow:4px 4px 5px var(--color3) ;
}
.father div img:hover{
    transform: rotateY(360deg);
}
.father div h4{
    text-align: center;
    padding: 20px 0;
    font-family: "Parisienne", serif;
    text-transform: capitalize;
 font-size: 1.5rem;
   
}
.decouverte{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    padding: 45px 0;
    color:var(--color3) ;
}
.father-decouverte img{
    width: 60%;
    border-radius: 8px;
    z-index: -10;
    margin: 30px 0 60px 5%;
    box-shadow:4px 4px 5px var(--color3) ;
    height: 400px;
}
.father-decouverte div{
    position: relative;
}
p span{
    position:absolute;
    font-family: "Parkinsans", sans-serif;
 font-optical-sizing: auto;
   text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  font-style: normal;
 color:var(--color4) ;
}
.span1, .span3, .span5{
left: 55%;
top: 50%;
}
.img2-dec, .img4-dec{
  z-index: -1;
   float: right;
   cursor: pointer;
   right: 5%;
 display: flex;
   
   padding-right: 5%;
}


.span2{
    right: 50%;
    z-index: -1000;
    margin-top: 18%;
    


}
.span3{
   
    margin-top: 18%;
}
.span4{
    right: 50%;
    margin-top: 18%;
    z-index: -1000;
}
.span5{
    margin-top: 20%;
}
h5{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
     text-transform: uppercase;
    font-weight: 300;
   font-size: 1.5rem;
   font-style: normal;
    color:var(--color1) ;  
    padding: 40px 0; 
    margin: 0 auto;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-top: 30px;
    align-items: center;
}

input, textarea, button{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 0.5px solid;
    width: 400px;

}
button{
    font-size: 1.2rem;
    cursor: pointer;
    transition: 1s ease-in-out;
    margin-bottom: 15px;
    background-color: var(--color3);
}
button:hover{
    background-color: var(--color4);
    color:var(--color1);
}
input:focus, textarea:focus:focus{
    background-color: var(--color3);
    color:var(--color1);
    font-weight: 600;
    font-size: 1.1rem;
}
textarea{
    height: 120px;
    resize: none;
}
#inscription{
    background-color: var( --color5);
}
.copy{
text-align: center;
padding: 30px;
font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
     
    font-weight: 300;
 font-style: normal;
color:var(--color1) ;  
font-size: 1.2rem;
}
img{
    z-index: -30;
    cursor: pointer;
    transition: 1.5s ease-in-out;
}
img:hover{
transform: rotateY(360deg);
}
hr{
margin: 25px 0;
}
@media  screen and ( max-width:500px ) {
    .none{
        display: none;
    }
    img{
        width:  100%;
        z-index: -1;
       margin: 0;
    }
}

@media  screen and ( max-width:440px) {
    input, textarea, button{
        width: 90%;
    }
}
@media screen and ( max-width:340px) {
    .ctt{
        display: none;
    }
    .name{
        text-align: center;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
}